html {
    font-family: sans-serif;
    background-color: #0A0A0A;
    color: #ffffff;
}

div {
    border-bottom: 0.5em solid #3f98a8;
    margin: 0 auto;
    width: 40%;
}

h1 {
    text-align: center;
    margin-bottom: 0.25em;
}

p {
    margin: 0 25%;
    padding: 1em;
}

#links p {
    text-align: center;
    margin-left: 25%;
}

#links a {
    padding: 1em;
}

#links a:hover{
    color: #983fa8;
}
